<Renderer  recursionDepth="0">
  <!--<Sampler type="ScanlineSampler"/>-->
  <Sampler type="ProgressiveSampler"/>
  <!--<Sampler type="SuperSampler" mSubsamples="3" jitter="yes"/>-->
  
  <Shader type="PhongLightingShader"/>
  <!--<Shader type="ConstantShader"/>-->
  <!--<Shader type="DiffuseLightingShader"/>-->
  <!--<Shader type="PhongBumpShader"/>-->
</Renderer>
